body {
  background: #f2f2f2;
  color: #757575;
  margin: 0px;
  width: 90%;
  margin: 0 auto;
}

h2 {
  text-align: center;
  padding: 10px;
  font-size: 2rem;
}

.buttons, .images {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1rem;
}

.button {
  margin: 0 10vw
}

.button > input {
  display: none;
}

.button svg, .delete svg {
  filter: drop-shadow(3px 3px 3px #999);
  transition: 0.3s;
  transform: rotate(-0.2deg)
}

.button:hover svg, .delete:hover svg {
  cursor: pointer;
  transform: rotate(-20deg);
}

.images {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  align-items: flex-start;
}

.image {
  margin: 10px;
}

.delete {
  position: relative;
  top: 16px;
  right: 15px
}

img {
  width: 100%;
  padding: 10px;
  border: 1px dashed darkgrey;
}

.spinner {
  text-align: center;
  height: 50vh;
}

.fadein {
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}